@import "~normalize.css";
@import "./owf.scss";

@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}

$extraLargeScreenWidth: 1920px;
$largeScreenWidth: 1024px;
$mediumScreenWidth: 768px;
$smallScreenWidth: 420px;

@mixin choose($prop, $xlValue, $lValue, $mValue: null, $sValue: null) {
  #{$prop}: $xlValue;

  // @if ($mValue) {
  //   @media (min-width: $mediumScreenWidth) and (max-width: $largeScreenWidth) {
  //     #{$prop}: $lValue;
  //   }
  // } @else {
  //   @media (max-width: $largeScreenWidth) {
  //     #{$prop}: $lValue;
  //   }
  // }

  // @if ($sValue) {
  //   @media (min-width: $smallScreenWidth) and (max-width: $mediumScreenWidth) {
  //     #{$prop}: $mValue;
  //   }

  //   @media (max-width: $smallScreenWidth) {
  //     #{$prop}: $sValue;
  //   }
  // } @else {
  //   @media (max-width: $mediumScreenWidth) {
  //     #{$prop}: $mValue;
  //   }
  // }
}

:root {
  --app-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: grey;
}

// $def_icon_size: calc(var(--app-height)*0.027);
// $big_icon_size: calc(var(--app-height)*0.036);


.settings-modal-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: var(--app-height);
  background-color: rgb(0, 0, 0, 0.3);
  transition: opacity 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  .settings-window {
    padding: 15px;
    background-color: #fff;

    .settings-wrapper {
      color: black;
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      justify-items: center;
      row-gap: 10px;
      select {
        width: 100px;
      }
      .s-sect,
      input[type="text"] {
        width: 100%;
        grid-column: span 2;
      }
      input[type="text"].hidden {
        display: none;
      }
      .s-label {
        justify-self: start;
      }
      .buttons {
        grid-column: span 2;
        margin-top: 20px;
        .s-btn {
          width: 100px;
          height: 30px;
        }
      }
    }
  }
}

.bg-container {
  > img {
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease;
    &.visible {
      opacity: 1;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: var(--app-height);
  padding: calc(var(--app-height)*0.02);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .player {
      width: calc(var(--app-height)*0.21);
      font-size: calc(var(--app-height)*0.018);
      .player-controls {
        display: flex;
        flex-direction: column;
        margin-bottom: calc(var(--app-height)*0.017);

        input[type="range"] {
          width: calc(var(--app-height)*0.14);
        }

        .progress {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: calc(var(--app-height)*0.011);
          margin-top: calc(var(--app-height)*0.01);
        }

        .volume {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: calc(var(--app-height)*0.01);

          .player-mute {
            border: none;
            outline: none;
            background: transparent;
            background-image: url("../assets/svg/volume.svg");
            background-repeat: no-repeat;
            width: calc(var(--app-height)*0.022);
            height: calc(var(--app-height)*0.022);
            background-size: calc(var(--app-height)*0.022);
            &.active {
              background-image: url("../assets/svg/mute.svg");
              width: calc(var(--app-height)*0.022);
              height: calc(var(--app-height)*0.022);
              background-size: calc(var(--app-height)*0.022);
              }
          }
        }

        .player-controls-buttons {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-bottom: calc(var(--app-height)*0.012);
          .player-icon {
            width: calc(var(--app-height)*0.027);
            height: calc(var(--app-height)*0.027);
            background-size: calc(var(--app-height)*0.027);
          }
          .play {
            width: calc(var(--app-height)*0.036);
            height: calc(var(--app-height)*0.036);
            background-size: calc(var(--app-height)*0.036);
            background-image: url("../assets/svg/play.svg");
          }

          .pause {
            background-image: url("../assets/svg/pause.svg");
          }

          .play-prev {
            background-image: url("../assets/svg/play-prev.svg");
          }

          .play-next {
            background-image: url("../assets/svg/play-next.svg");
          }
        }
      }

      .play-list {
        text-align: left;
      }

      .play-item {
        position: relative;
        padding: calc(var(--app-height)*0.004);
        padding-left: 35px;
        list-style: none;
        opacity: 0.8;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          opacity: 1;
        }

        &::before {
          background-image: url(../assets/svg/play.svg);
          content: "";
          width:  calc(var(--app-height)*0.022);
          height: calc(var(--app-height)*0.022);
          background-size: calc(var(--app-height)*0.022);
          position: absolute;
          left: 0;
        }
        &.active::before {
          background-image: url(../assets/svg/pause.svg);
          content: "";
          width: calc(var(--app-height)*0.022);
          height: calc(var(--app-height)*0.022);
          background-size: calc(var(--app-height)*0.022);
          position: absolute;
          left: 0;
          top: 4px;
        }
        &.active {
          color: rgba(0, 117, 255, 1);
        }
      }
    }

    .weather {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: calc(var(--app-height)*0.21);
      font-size: calc(var(--app-height)*0.017);
      min-height: calc(var(--app-height)*0.245);
      text-align: left;

      .city {
        width: 100%;
        padding: calc(var(--app-height)*0.009);
        font-size: calc(var(--app-height)*0.025);
        color: #fff;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #fff;
        background-color: transparent;

        &::placeholder {
          font-size: calc(var(--app-height)*0.025);
          color: #fff;
          opacity: 0.6;
        }
      }

      .weather-icon {
        font-size: 44px;
      }

      .weather-error {
        margin-top: calc(var(--app-height)*(-0.02));
      }

      .description-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 12px;
      }
    }
  }

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .service {
      display: flex;
      align-items: flex-end;
      .loader {
        display: none;
        font-size: 20px;
        margin: 10px;
        margin-top: 0;
        margin-bottom: 0;
        &.active {
          display: block;
        }
      }
      .settings-icon {
        background-image: url("../assets/svg/settings.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        outline: none;
        width: calc(var(--app-height)*0.036);
        height: calc(var(--app-height)*0.036);
        background-size: calc(var(--app-height)*0.036);
        opacity: 0.8;
        cursor: pointer;
  
        &:hover {
          opacity: 1;
        }
      }
    }

    .slider-icons {
      .slider-icon {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        cursor: pointer;

        &.slide-prev {
          left: 0;
          background-image: url("../assets/svg/slider-prev.svg");
        }

        &.slide-next {
          right: 0;
          background-image: url("../assets/svg/slider-next.svg");
        }
      }
    }

    .time {
      font-family: "Arial-MT";
      font-size: calc(var(--app-height)*0.09);
      letter-spacing: -4px;
    }

    .date {
      font-size: calc(var(--app-height)*0.03);
      margin-bottom: calc(var(--app-height)*0.017);
    }

    .greeting-container {
      display: flex;
      flex-wrap: wrap;
      font-size: calc(var(--app-height)*0.034);
      margin-bottom: calc(var(--app-height)*0.03);

      .greeting {
        flex: 1;
        padding: 0px calc(var(--app-height)*0.017);
        text-align: right;
        white-space: nowrap;
      }

      .name {
        flex: 1;
        max-width: calc(var(--app-height)*0.385);
        padding: 0px calc(var(--app-height)*0.017);
        color: #fff;
        background-color: transparent;
        border: 0;
        outline: 0;

        &::placeholder {
          color: #fff;
          opacity: 0.6;
        }
      }
      @media (max-width: 600px) {
        .greeting {
          text-align: center;
        }
        .name {
          text-align: center;
        }
        & {
          justify-content: center;
        }
      }
    }

    #custom {
      .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        input {
          &::placeholder {
            color: #fff;
            opacity: 0.6;
          }
        }
      }
      .todo-input {
        width: calc(var(--app-height)*0.37);
        padding: 5px;
        font-size: calc(var(--app-height)*0.027);
        color: #fff;
        border: 0;
        outline: 0;
        border-bottom: 1px solid #fff;
        background-color: transparent;
      }
      .todo-add-btn,
      .todo-remove-btn {
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: calc(var(--app-height)*0.036);
        text-align: center;
        cursor: pointer;
        transform: scale(0.8);
        transition: background-color 0.3s;
        border-radius: 30%;
        &:hover {
          background-color: rgb(0, 117, 255, 0.9);
        }
        &:active {
          transform: scale(1.1);
        }
      }
      .todo-ch:checked + .todo-title {
        text-decoration: line-through black;
      }
      .todos {
        margin-top: calc(var(--app-height)*0.018);
        list-style: none;
        height: calc(var(--app-height)*0.17);
        overflow-y: overlay;

        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgb(255, 255, 255, 0.8);
          border-radius: 50%;
        }
      }
      .todo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
      }
    }
  }

  #quotes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size: calc(var(--app-height)*0.02);

    .change-quote {
      margin-bottom: calc(var(--app-height)*0.017);
      background-image: url("../assets/svg/reload.svg");
      width: calc(var(--app-height)*0.036);
      height: calc(var(--app-height)*0.036);
      background-size: calc(var(--app-height)*0.036);
    }

    .quote-container {
      .quote {
        margin-bottom: calc(var(--app-height)*0.017);
      }
    }
  }
}

#audio,
#weather,
#time,
#date,
#greeting,
#quotes,
#custom {
  transition: visibility 1s ease-in, opacity 1s ease-in;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 1s ease-out, opacity 1s ease-out;
  }
}

.item-active::before {
  color: #c5b358;
}
