.button {
  padding: 5px;
  border-radius: 60px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -1.14766px;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
  background: transparent;
  cursor: pointer;

  &.black {
    color: #000;
    border: 1px solid #000;
  }

  &:hover {
    color: #000000;
    background: #ffffff;
  }
  
  &:active {
    color: #000000;
    background: #FFBCA2;
    border-color: #FFBCA2;
  }
}