<div class="settings">
  <div class="volume-container">
    <h2>Volume</h2>
    <div class="controls">
      <input
        type="range"
        class="volume-picker"
        id="volume"
      />
      <div class="buttons">
        <button class="quiet"></button>
        <button class="loud"></button>
      </div>
    </div>
  </div>

  <div class="time-container">
    <h2>Time game</h2>
    <label for="time-game">Off</label>
    <label class="switch">
      <input type="checkbox" id="time-game" />
      <span class="slider round"></span>
    </label>
  </div>

  <div class="answer-time-container">
    <h2>Time to answer</h2>
    <div class="controls">
      <button onclick="this.nextElementSibling.stepDown()">-</button>
      <input disabled type="number" id="answ-time" min="0" max="50" onkeydown="return false" value="20" />
      <button onclick="this.previousElementSibling.stepUp()">+</button>
    </div>
  </div>

  <div class="buttons-container">
    <!-- insert buttons in js -->
  </div>
</div>
