.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #fff;
  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 420px) {
    font-size: 16px;
  }

  h2 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: -0.914286px;
    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 420px) {
      font-size: 22px;
    }
  }

  .volume-container {
    & .volume-picker {
      height: 3px;
      -webkit-appearance: none;
      background: linear-gradient(to right, #ffbca2 0%, #ffbca2 50%, #a4a4a4 50%, #a4a4a4 100%);

      &::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        -webkit-appearance: none;
        cursor: ew-resize;
        background: #fff;
      }
    }

    & .controls {
      display: flex;
      flex-direction: column;
      // width: 40%;

      & .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        & .loud,
        & .quiet {
          width: 36px;
          height: 36px;
          border: none;
          outline: none;
          background: transparent;
          // cursor: pointer;
        }

        & .loud {
          background: url('/assets/svg/loud.svg');
        }

        & .quiet {
          background: url('/assets/svg/quiet.svg');
        }
      }
    }
  }

  .time-container {
    .switch {
      margin-left: 10px;
      position: relative;
      display: inline-block;
      width: 48px;
      height: 24px;

      & input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: #ffbca2;
        }

        &:checked + .slider:before {
          background-color: #fff;
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);
        }
      }

      & .slider {
        position: absolute;
        border-radius: 34px;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &:before {
          border-radius: 50%;
          position: absolute;
          content: '';
          height: 16px;
          width: 16px;
          left: 6px;
          bottom: 4px;
          background-color: #000;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
      }
    }
  }

  .answer-time-container {
    &.hidden {
      opacity: 0;
    }
    & .controls {
      display: flex;
      gap: 25px;

      & > input {
        width: 30px;
        color: #fff;
        background: transparent;
        border: none;
        outline: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
      }

      & > button {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        font-size: 24px;
        // font-weight: bold;
        color: #ffffff;
        border: 1px solid #ffffff;
        outline: none;
        background: transparent;
        cursor: pointer;
        &:hover {
          color: #000000;
          background: #ffffff;
        }
        &:active {
          color: #000000;
          background: #ffbca2;
          border-color: #ffbca2;
        }
      }
    }
  }

  .buttons-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 8px;
  }
}
