.timer-container {
  display: flex;
  gap: 10px;
  align-items: center;


  .quit-btn {
    flex: 0 0 auto;
    padding: 0px;
    width: 18px;
    height: 18px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background: url('/assets/svg/close.svg') no-repeat;
    &:active {
      transform: scale(0.9);
    }
  }

  .time-bar {
    flex: 1 1 auto;
    min-width: 30px;
    height: 3px;
    -webkit-appearance: none;
    background: linear-gradient(
      to right,
      #ffbca2 0%,
      #ffbca2 0%,
      #a4a4a4 0%,
      #a4a4a4 100%
    );

    &::-webkit-slider-thumb {
      display: none;
    }
  }

  .time-text {
    flex: 0 0 auto;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #ffffff;
  }
}
