@charset 'UTF-8';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
  }

  &::-webkit-scrollbar-track {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.1);
      border: 1px solid #ccc;
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #666;
      border: 1px solid #aaa;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #fff;
  }
  
  &::-webkit-scrollbar-thumb:active {
      background: linear-gradient(left, #22add4, #1e98ba);
  }
}

body {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #fff;
}

.main {
    min-width: 100%;
    min-height: calc(100vh - 140px);
    background-image: url(../../static/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
  
    .blur-container {
      background: rgba(22, 41, 41, 0.5);
      backdrop-filter: blur(3px);
      height: 100%;
      width: 100%;
      min-height: calc(100vh - 140px);
    }
}