{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "ignorePatterns": ["dist", "node_modules", "webpack.config.js"],
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ]
}
