.sources {
    display: flex;
    flex-direction: column;
    overflow: auto;
    font: 300 1em 'Fira Sans', sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .sources {
        position: absolute;
        left: -100vw;
        height: 100%;
        box-sizing: border-box;
        transition: all 0.5s ease-out;
        background: #17181c;
        opacity: 0;
        z-index: 100;
    }
    .sources.active {
        z-index: 100;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease-in;
    }
}

@media (max-width: 420px) {
    .sources.active {
        width: 100%;
    }
}
