@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
img {
  // width: 100%;
}
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
}
button,
a {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
$container-width: 1440px;
$dbg-borger: none;

.align-container {
  max-width: $container-width;
  margin: 0 auto;
  border: $dbg-borger;
}

.shader {
  background-color: black;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  img {
    width: 49px;
    padding-right: 25px;
  }

  span {
    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 5px;
    color: #ffffff;
  }
}

.header-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;

  nav .nav-menu {
    display: flex;
    flex-direction: row;

    :nth-child(5) {
      margin-left: 60px;
    }

    :nth-child(1) {
      margin: 0;
    }

    li {
      list-style-type: none;
      margin-left: 55px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 100;
      font-size: 22px;
      letter-spacing: 2px;
      color: #ffffff;
    }

    li:hover {
      color: gold;
      cursor: pointer;
    }
  }
}

.welcome-section-wrapper {
  display: flex;
  justify-content: space-between;
  height: 810px;
  color: #ffffff;

  .welcome-text .welcome-text-wrapper {
    position: relative;
    margin-top: 463px;
    border: $dbg-borger;

    h1 {
      position: absolute;
      top: -367px;
      margin-right: -240px;
      z-index: 1;
      padding-bottom: 25px;
      font-family: "Forum", cursive;
      font-style: normal;
      font-weight: normal;
      line-height: 90px;
      font-size: 80px;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #ffffff;
    }
    h2 {
      position: absolute;
      top: -366px;
      z-index: 1;
      padding-top: 258px;
      margin-right: -240px;
      padding-bottom: 75px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      letter-spacing: 2px;
    }

    .discover-button {
      // margin-top: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #710707;
      border-radius: 10px;
      width: 360px;
      height: 75px;

      span {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        letter-spacing: 2px;
      }
    }
  }

  .slider-wrapper {
    position: relative;

    .slider-controls {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 600px;
      height: 120px;
      background-color: #000000;
      border: $dbg-borger;
      .slider-controls-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 450px;
        height: 40px;
        justify-content: space-between;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;

        .pages {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 73px;
        }
        .thumbs {
          display: flex;
          justify-content: space-between;
          width: 180px;
          list-style-type: none;
        }
        .arrows {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 80px;
          font-size: 30px;
          .right {
            transform: scale(-1, 1);
          }
        }
      }
    }
    .slider img {
      max-width: 1000px;
    }
  }
}

.visiting-section-wrapper {
  padding: 75px 0px;

  h2 {
    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    line-height: 90px;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
  }

  h2:after {
    display: block;
    margin-top: 25px;
    margin-bottom: 75px;
    content: "";
    background-color: #710707;
    height: 3px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: 75px;
    column-gap: 60px;
    .card:hover {
      h3:after {
        max-width: 100%;
        transition: all 0.2s ease-out;
      }
    }
    figcaption {
      h3 {
        margin-top: 21px;
        font-family: Forum;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 5px;
        text-transform: uppercase;
      }
      h3:after {
        display: block;
        margin: 10px 0px;
        content: "";
        background-color: #710707;
        height: 2px;
        max-width: 68%;
        transition: all 0.2s ease-out;
      }
      h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
      }
      h5 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

.explore-section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // gap: 60px;
  height: 715px;
  color: #ffffff;
  padding: 75px 0px;

  .description {
    max-width: 658px;
    h2 {
      font-family: "Forum", cursive;
      font-style: normal;
      font-weight: normal;
      line-height: 90px;
      font-size: 80px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
    h2:after {
      display: block;
      margin-top: 25px;
      margin-bottom: 75px;
      content: "";
      background-color: #710707;
      height: 3px;
      width: 660px;
    }
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 38px;
      margin-bottom: 25px;

      mark {
        background-color: inherit;
        color: #caaa7d;
      }
    }
  }

  .tool {
    padding-top: 14px;

    .figure-wrapper {
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
      :nth-child(1) {
        z-index: 1;
      }
      :nth-child(2) {
        left: 421px;
        z-index: 2;
      }
    }
  }
}

.video-section-wrapper {
  .heading {
    margin: 75px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    h2 {
      color: #9d8665;
      font-family: Forum;
      font-style: normal;
      font-weight: normal;
      font-size: 80px;
      line-height: 90px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 38px;
    }
  }
  .video {
    position: relative;
    display: flex;
    flex-direction: column;
    > button > img {
      position: absolute;
      top: 214px;
      left: 610px;
      z-index: 1;
    }
    .controls {
      display: flex;
      flex-direction: row;
      background-color: #000000;
      justify-content: space-between;
      padding: 25px 30px;
      .progress {
        margin-top: 14px;
        height: 8px;
        width: 400px;
        -webkit-appearance: none;
      }
      .progress.timeline {
        background: linear-gradient(
          to right,
          #710707 0%,
          #710707 54%,
          #b3b3b3 54%,
          #b3b3b3 100%
        );
      }
      .progress.volume {
        background: linear-gradient(
          to right,
          #710707 0%,
          #710707 44%,
          #b3b3b3 44%,
          #b3b3b3 100%
        );
      }
      .progress::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        -webkit-appearance: none;
        cursor: ew-resize;
        background: #fff;
      }
      .timeline {
        width: 67%;
      }
      .volume {
        width: 11%;
      }
    }
  }
  .video-gallery {
    margin-top: 40px;
    .gallery {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .poster {
        position: relative;
        display: flex;
        .interface-wrapper {
          position: absolute;
          z-index: 1;
          top: 15px;
          left: 11px;
          width: 405px;
          .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .name {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              span {
                padding-left: 9px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 38px;
                color: #ffffff;
              }
            }
          }
        }
        .play-btn {
          position: absolute;
          top: 88px;
          left: 181px;
        }
      }
    }
    .controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 40px;
      max-width: 200px;
      background-color: #fff;
      .left {
        transform: scale(-1, 1);
      }
      img.active {
        // TODO
        fill: #000;
      }
    }
  }
}

.gallery-section-wrapper {
  margin-top: 75px;
  position: relative;
  h2 {
    padding-top: 75px;
    color: #fff;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .art-gallery {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    .col1 {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      // justify-content: flex-end;
      gap: 24px;
    }
    .col2 {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .col3 {
      margin-top: 50px;
      display: flex;
      // justify-content: flex-end;
      flex-direction: column;
      gap: 24px;
      // padding-bottom: 14px;
    }
    > img {
      border: 1px solid white;
    }
  }
  > img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.custom-btn {
  margin-top: 15px;
  margin-bottom: 11px;
  // margin-right: 10px;
  display: flex;
  justify-content: space-between;
  border: 3px solid #000;
  button {
    text-align: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    width: 40px;
    height: 43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
  }
  .number::-webkit-outer-spin-button,
  .number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .number {
    all: unset;
    -webkit-appearance: none;
    margin: 0;
    width: 65px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
  }
}

.ticket-section-wrapper {
  margin-top: 75px;

  h2 {
    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    line-height: 90px;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
  }

  h2:after {
    display: block;
    margin-top: 25px;
    margin-bottom: 75px;
    content: "";
    background-color: #710707;
    height: 3px;
  }

  .deal-wrapper {
    display: flex;
    flex-direction: row;

    .form-wrapper {
      .controls {
        width: 721px;
        display: flex;
        justify-content: space-between;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-columns: repeat(2, 89%);
        // grid-template-rows: repeat(4, 1fr);
        // justify-content: stretch;
        // column-gap: 135px;
        h4 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          line-height: 33px;
        }
        label {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 22px;
          line-height: 26px;
        }
        .left {
          margin-left: 60px;
          // padding-right: 360px;
          h4 {
            margin-bottom: 51px;
          }
          .container {
            display: block;
            position: relative;
            padding-left: 40px;
            margin-bottom: 25px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          /* Hide the browser's default radio button */
          .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }

          /* Create a custom radio button */
          .checkmark {
            position: absolute;
            left: 0;
            top: 4px;
            height: 13px;
            width: 13px;
            border: 2px solid #000;
            // background-color: #000;
            border-radius: 50%;
          }

          /* On mouse-over, add a grey background color */
          .container:hover input ~ .checkmark {
            background-color: #fff;
          }

          /* When the radio button is checked, add a blue background */
          .container input:checked ~ .checkmark {
            // background-color: #000;
          }

          /* Create the indicator (the dot/circle - hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          /* Show the indicator (dot/circle) when checked */
          .container input:checked ~ .checkmark:after {
            display: block;
          }

          /* Style the indicator (dot/circle) */
          .container .checkmark:after {
            top: 3px;
            left: 3px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #000;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          h4 {
            margin-bottom: 25px;
            align-self: flex-end;
          }
        }
      }
      .summary {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 40px;
        h4 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          line-height: 33px;
          letter-spacing: 1.65px;
        }
        .buy-btn {
          margin-top: 60px;
          width: 175px;
          height: 50px;
          color: #fff;
          background-color: #000;
          border: none;
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 22px;
          line-height: 26px;
          letter-spacing: 2px;
        }
      }
    }
  }

  .paralax {
    margin-top: 71px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
  }
}

.contacts-section-wrapper {
  margin-top: 75px;
  h2 {
    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    line-height: 90px;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
  }

  h2:after {
    display: block;
    margin-top: 25px;
    margin-bottom: 75px;
    content: "";
    background-color: #710707;
    height: 3px;
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .text {
      h4 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
        margin-bottom: 51px;
      }
      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 26px;

        a {
          display: inline;
        }
      }
    }
  }
}

.footer-wrapper {
  .top {
    margin-top: 70px;
    padding-top: 84px;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      nav {
        display: flex;
        flex-direction: row;
      }
      .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 4px;
        padding-left: 142px;
        padding-right: 30px;
        li {
          list-style-type: none;
          margin-bottom: 26px;
          font-family: "Roboto", sans-serif;
          font-style: normal;
          font-weight: 100;
          font-size: 22px;
          letter-spacing: 2px;
          color: #ffffff;
        }

        li:hover {
          color: gold;
          cursor: pointer;
        }
      }
    }
    .social {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      img {
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 11px;
        margin-left: 25px;
        margin-bottom: 32px;
      }
      img:hover {
        border: 1px solid #9d8665;
        filter: invert(53%) sepia(39%) saturate(300%) hue-rotate(356deg)
          brightness(95%) contrast(90%);
      }
    }
    padding-bottom: 25px;
  }
  hr {
    border: none;
    color: #666666;
    background-color: #666666;
    height: 2px;
  }
  .bottom {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    :nth-child(2) {
      margin-left: 34px;
    }
  }
}

.modal-buy {
  position: fixed;
  top: 0;
  left: -100vw;
  margin: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: left 0.5s ease-out, opacity 1s ease-out;
  &.active {
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: left 0.5s ease-in, opacity 0.5s cubic-bezier(0.43, 0.4, 1, 1),
      background-color 1s cubic-bezier(1, -0.24, 0.11, -0.01);
  }

  .modal-content-wrapper {
    max-height: 100vh;
    overflow: auto;
    position: relative;
    // top: 50vh;
    // transform: translateY(-50%);
    // margin: auto auto;
    max-width: 1440px;
    background-color: #fff;
    box-sizing: border-box;

    .close-btn-wrapper {
      width: 25px;
      margin: 0 29px 0 auto;
      padding-top: 30px;
      .close-btn {
        // background-color: pink;
        width: 25px;
      }
    }
    .modal-content {

      padding: 32px 0;
      // background-color: pink;

      .deal-wrapper {
        margin: 0 auto;
        max-width: 970px;
        // background-color: aquamarine;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 40px;
        .user-info {
          flex-grow: 1;
          max-width: 530px;
          min-width: 360px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .logo-wrapper {
            h2 {
              font-family: Forum;
              font-style: normal;
              font-weight: normal;
              font-size: 50px;
              line-height: 55px;
              text-transform: uppercase;
              color: #9d8665;
              margin-top: -4px;
              margin-bottom: 15px;
            }
            h4 {
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 21px;
              color: #710707;

              &::after {
                display: block;
                margin-top: 9px;
                margin-bottom: 39px;
                content: "";
                background-color: #740c11;
                height: 3px;
              }
            }
          }
          input,
          select {
            height: 45px;
            margin-top: 10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #030303;
          }
          select {
            height: 45px;
          }
          .custom-input,
          .custom-select {
            position: relative;
            input,
            select {
              width: 100%;
              padding-left: 43px;
              box-sizing: border-box;
            }
            select {
              -moz-appearance: none;
              -webkit-appearance: none;
              &::-ms-expand {
                display: none;
              }
            }
            .icon,
            .arrow {
              position: absolute;
              top: 25px;
              left: 16px;
            }
            .arrow {
              left: auto;
              top: 24px;
              right: 14px;
            }
          }
          .date-time {
            display: flex;
            justify-content: space-between;
            input {
              padding-right: 7px;
              width: 190px;
              &::-webkit-inner-spin-button,
              &::-webkit-calendar-picker-indicator {
                opacity: 0;
              }
            }
          }
          .amount-wrapper {
            box-sizing: border-box;
            padding: 10px 15px 0px 15px;
            margin-top: 10px;
            border: 1px solid #000;
            h3 {
              font-family: Forum;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 20px;
              text-transform: capitalize;
              color: #9d8665;

              &::after {
                display: block;
                margin-top: 4px;
                margin-bottom: 14px;
                content: "";
                background-color: #740c11;
                height: 2px;
              }
            }
            .category {
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              color: #030303;
              .custom-btn2 {
                margin-bottom: 17px;
                display: flex;
                justify-content: space-between;
                border: 1px solid #000;
                button {
                  background-color: #000;
                  color: #fff;
                  text-align: center;
                  border: none;
                  padding: 0;
                  cursor: pointer;
                  outline: inherit;
                  width: 34px;
                  height: 24px;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 19px;
                }
                .number::-webkit-outer-spin-button,
                .number::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                .number {
                  all: unset;
                  -webkit-appearance: none;
                  margin: 0;
                  width: 32px;
                  text-align: center;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 21px;

                  color: #030303;
                }
              }
            }
          }
        }
        .ticket-info {
          position: relative;
          max-width: 530px;
          min-width: 360px;
          border: 1px solid #000;
          padding: 25px 30px;
          box-sizing: border-box;

          > img {
            position: absolute;
            top: 24px;
            right: 29px;
          }
          h3 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 37px;
            color: #272727;
            margin-bottom: 3px;
          }
          h4 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #740c11;
            margin-bottom: 10px;
          }
          .text {
            display: flex;
            align-content: center;
            margin-bottom: 6px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: #030303;
            span {
              margin-left: 15px;
            }
            img {
              margin-top: -2px;
            }
          }
          .price {
            margin-top: 22px;
            .price-basic,
            .price-senior {
              margin-bottom: 7px;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 22px;
              line-height: 26px;
              color: #030303;
              .big-text {
                display: flex;
                align-items: flex-start;
                .amount {
                  height: 20px;
                  margin-top: 2px;
                  padding: 0px 11px;
                  margin-right: 10px;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 18px;
                  line-height: 21px;
                  color: #a4a4a3;
                  background-color: #030303;
                  border-radius: 5px;
                }
              }
            }
          }
          hr {
            margin-top: 7px;
            margin-bottom: 11px;
            border: none;
            color: #740c11;
            background-color: #740c11;
            height: 2px;
          }
          .total-price {
            margin-bottom: 7px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            color: #030303;
          }
          .credit-card {
            position: relative;
            width: 470px;
            height: 241px;
            .card-side {
              border-radius: 3px;
              position: absolute;
              width: 360px;
              height: 211px;
              padding: 15px 20px;
              box-sizing: border-box;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              color: #161615;

              input {
                height: 35px;
                box-sizing: border-box;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #161615;
                margin-bottom: 10px;
                border: none;
              }
              label {
                margin-bottom: 5px;
              }
              &.front {
                display: flex;
                flex-direction: column;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #bcbcbc;
                .card-number {
                  max-width: 215px;
                }
                .exp-date-month,
                .exp-date-year {
                  max-width: 100px;
                }
                .exp-date-year {
                  margin-left: 12px;
                }
                .cardholder-name {
                  height: 35px;
                  margin: 0;
                }
                .bank-logos {
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  top: 35px;
                  right: 20px;
                  > img {
                    margin-bottom: 15px;
                  }
                }
              }
              &.back {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                bottom: 0;
                right: 0;
                background-color: #939393;
                .magnet-field {
                  background-color: #000;
                  height: 45px;
                  margin-right: -20px;
                  margin-bottom: 10px;
                  margin-top: 10px;
                  width: 100%;
                }
                .tip1 {
                  margin-right: 15px;
                  margin-top: 5px;
                }
                .cvc-cvv {
                  width: 75px;
                  height: 35px;
                  margin-bottom: 7px;
                }
                .tip2 {
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 10px;
                  line-height: 12px;
                  color: #161615;
                  margin-bottom: -2px;
                  margin-right: 13px;
                }
              }
            }
          }
          .book-button {
            position: relative;
            width: 220px;
            height: 45px;
            background-color: #710707;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 26px;
            color: #ffffff;
            margin: 27px 0 0 auto;
            overflow: hidden;
            & .circle {
              position: absolute;
              background-color: #fff;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              transform: translate(-50%, -50%) scale(0);
              animation: scale 0.5s ease-out;
              @keyframes scale {
                to {
                  transform: translate(-50%, -50%) scale(3);
                  opacity: 0;
                }
            }
          }
          }
        }
      }
    }
  }
}
