footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.62766px;
    color: white;
    color: white;
    text-decoration: none;
  }
  .year {
    margin-left: 60px;
  }
}
